.modal-config {
    .ant-modal-content {

        background-color: #1c1c1e;
        border-radius: 12px;
    }
    .ant-modal-header {
        background-color: #000;
        color: #fff;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;

    }
    
}